# --- Archivos de Seguridad (NUNCA SUBIR) ---
.env
api_keys.txt
secrets.json

# --- PyInstaller (Generados automáticamente) ---
build/
dist/
*.spec

# --- PyCharm y Entornos Virtuales ---
.idea/
venv/
__pycache__/
*.pyc